# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt Creator files
*.pro.user

# Visual Studio Code files
.vscode/

# IntelliJ files
.idea/

# executable files
build/
local/
sgl-project
sgl-project.exe
sgl-lib
sgl-lib.exe
